<div id="Jumbo">
    <div class="container">
        <div id="Title" class="row align-center">
            <div class="col-16">
                <h1>HRISTOS IN NOI</h1>
                <h3>SPERANTA SLAVEI</h3>
            </div>
        </div>
        <div id="CirclesContainer" class="row align-end">
            <div class="circle">
                <h2>Contact</h2>
            </div>
            <div class="circle">
                <h2>Live</h2>
            </div>
            <div class="circle">
                <h2>Doneaza</h2>
            </div>
        </div>
    </div>
</div>
<div id="Subtitle" class="container">
    <div class="row">
        <div class="col-12">
            <h3>Dumnezeul nădejdii să vă umple de toată bucuria şi pacea pe care o dă credinţa, pentru ca, prin puterea Duhului
                Sfânt, să fiţi tari în nădejde!</h3>
        </div>
    </div>
</div>
<div class="container">
    <ngx-masonry [useImagesLoaded]="true">
        <ngxMasonryItem class="col-one-third col-8-md col-16-xs" *ngFor="let card of cards">
            <mat-card>
                <img mat-card-image [src]="card.image">
                <mat-card-header>
                    <mat-card-subtitle>{{ card.subtitle | date:'EEEE dd MMMM yyyy' }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="card.title || card.subtitle">
                    <span *ngIf="card.title">{{ card.title }}</span>
                    <span *ngIf="card.subtitle">{{ card.subtitle }}</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="openLink(card.link)">DETALII</button>
                </mat-card-actions>
            </mat-card>
        </ngxMasonryItem>
    </ngx-masonry>
</div>
