@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "grid.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

form {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

mat-card {
    margin-bottom: 10px;
}
