<div class="container">
    <ngx-masonry [useImagesLoaded]="true">
        <ngxMasonryItem class="col-one-third col-8-md col-16-xs" *ngFor="let video of videosFeedService.videos | async">
            <mat-card>
                <img mat-card-image [src]="video.thumbnailUrl">
                <mat-card-header>
                    <mat-card-subtitle>{{ video.date | date:'EEEE dd MMMM yyyy' }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <span *ngFor="let tag of video.tags">{{ tag.name }}</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary">DETALII</button>
                </mat-card-actions>
            </mat-card>
        </ngxMasonryItem>
    </ngx-masonry>
</div>
<button mat-fab routerLink="/videos/add">
    <mat-icon aria-label="Add">add</mat-icon>
</button>
